img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}
body {
    display: flex;
    align-items: center;
    justify-content:center;
}
form {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-direction: column;
    height: 20vh;
}